In [10]:
import monai
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [28]:
df_meta = pd.read_csv('/mnt/nas/Datasets/than/CT/label_files/LIDC/LIDC-IDRI_MetaData.csv')
df_diagnosis = pd.read_csv('/mnt/nas/Datasets/than/CT/label_files/LIDC/meta_info.csv')
df_diagnosis = df_diagnosis[['patient_id', 'is_cancer']].drop_duplicates().reset_index(drop=True)

len(df_meta), len(df_diagnosis)
df_meta.head()
df_diagnosis.head(50)

(1308, 1464)

,Subject ID,Study UID,Study Description,Study Date,Series ID,Series Description,Number of images,File Size (Bytes),Collection Name,Modality,Manufacturer
0,LIDC-IDRI-1001,1.3.6.1.4.1.14519.5.2.1.6279.6001.281499745765...,NaN,2000-01-01 00:00:00.0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,NaN,194,102096016,LIDC-IDRI,CT,SIEMENS
1,LIDC-IDRI-0778,1.3.6.1.4.1.14519.5.2.1.6279.6001.174809695196...,CHEST,2000-01-01 00:00:00.0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100332161840...,Recon 2:,481,253245158,LIDC-IDRI,CT,GE MEDICAL SYSTEMS
2,LIDC-IDRI-0813,1.3.6.1.4.1.14519.5.2.1.6279.6001.139110171863...,NaN,2000-01-01 00:00:00.0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,NaN,157,82630786,LIDC-IDRI,CT,SIEMENS
3,LIDC-IDRI-0710,1.3.6.1.4.1.14519.5.2.1.6279.6001.116146223752...,CHEST,2000-01-01 00:00:00.0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100530488926...,Recon 2: ACRIN LARGE,471,247987448,LIDC-IDRI,CT,GE MEDICAL SYSTEMS
4,LIDC-IDRI-0410,1.3.6.1.4.1.14519.5.2.1.6279.6001.818775038273...,CT LUNG SCREEN,2000-01-01 00:00:00.0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100620385482...,NaN,126,66314722,LIDC-IDRI,CT,GE MEDICAL SYSTEMS

    patient_id  is_cancer
0            1       True
1            2       True
2            3      False
3            3       True
4            4      False
5            5  Ambiguous
6            5      False
7            6      False
8            6  Ambiguous
9            7       True
10           8  Ambiguous
11           9      False
12          10      False
13          10       True
14          11  Ambiguous
15          11      False
16          11       True
17          12  Ambiguous
18          12       True
19          12      False
20          13  Ambiguous
21          13       True
22          14       True
23          15       True
24          16       True
25          16  Ambiguous
26          17  Ambiguous
27          18      False
28          18       True
29          18  Ambiguous
30          19       True
31          20       True
32          20  Ambiguous
33          21      False
34          22      False
35          23       True
36          24       True
37          24      False
38          25      False
39          26  Ambiguous
40          27  Ambiguous
41          28      False
42          29       True
43          30  Ambiguous
44          31      False
45          31       True
46          31  Ambiguous
47          32      False
48          33       True
49          33  Ambiguous